# Les Dataframes en Pratique

## 1 Instructions

Nous jouerons dans ce TP  avec les fonctionnalités des DataFrames.

Utilisez la documentation sur l'API des DataFrames pour répondre aux questions qui vous seront posées dans ce TP.

https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/dataframe.html

Dans ce TP, vous utiliserez le notebook pour exécuter vos programmes à partir des cellules code reconnaissables avec [] .

## 2 Pré-requis

### Démarrer HDFS

docker start namenode datanode1 datanode2


### Démarrez votre cluster Spark

Pour démarrer votre cluster Spark, si cela n'a pas déjà été fait, vous devrez ouvrir un terminal puis exécuter la commande suivante :

docker start smaster sworker1 sworker2

Vérifiez que les containers smaster, sworker1 et sworker2 sont démarrés :

docker ps

### Connexion à Spark

Pour établir une connexion avec le cluster Spark en python à partir de ce notebook, exécutez la cellule ci-dessous  :

In [ ]:
# N'oubliez pas de fermer la connexion à la fin du TP
# spark.stop()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("spark://smaster:7077").appName("TPDF02").getOrCreate()

La variable "spark" est un objet de type SparkContext et c'est via cette variable que nous soumettrons des programmes distribués.

On peut vérifier notre connexion avec la commande suivante :

In [ ]:
spark

## Exercice

Nous allons travailler sur les données concernant la bourse du marché des pommes.

Ouvrer le fichier appl_stock.csv et chargez le dans un dataframe.

In [ ]:
# Entrez vos code ici :

Afficher un extrait des données :

Afficher la structure, les types du schema

Le résultat vous convient il et pourquoi ?

Proposez une solution plus convenable ?

Vérifiez votre nouvelle structure :

Afficher les dates et le prix des pommes à la clôture de la bourse qui sont inférieur à 300.

Retourner les lignes sur lesquels le prix à la clotûre est < 200 et dont le prix à l'ouverture est > 200

Donner les statistiques sur l'ensemble des colonnes

Ajouter une colonne Year qui mentionnera uniquement l'année de vente .<br/>
Indice: utilisez la fonction year pour extraire l'année du champs Date.

On retournera le résultat dans un nouveau dataframe `new_df`

In [ ]:
from pyspark.sql.functions import year
#Indiquez votre code

## Les fonctions d'aggrégation

Déterminer le prix moyen par année de l'ensemble des colonnes :

Déterminez  les prix maximum, minimum et moyen à la fermeture :

In [ ]:
from pyspark.sql.functions import *

Déterminez  les prix maximum, minimum et moyen à la clôture pour chaque année :

In [ ]:
import pyspark.sql.functions as f

## SQL

Vous analyserez à présent le fichier de vente à partir du langage SQL :

* Créer une vue sales à partir du dataframe new_df qui sera consultable en SQL :

* Afficher la structure de la vue sales :

* Afficher les dates et le prix des pommes à la clôture de la bourse qui sont inférieur à 300$.

* Créer une vue sales300 à partir de la requête précédente qui sera consultable en SQL :

* Déterminer  les prix maximum, minimum et moyen à la clôture pour chaque année sur la vue sales300 :

* Conserver le résultat de la requête précédente en json :

Bravo !!!

Vous avez terminé cette introduction au Dataframe, vous pouvez fermer la connexion au cluster Spark.

In [ ]:
spark.stop()

Vous pouvez arrêter les containers spark en ouvrant un terminal et en executant la commande suivante :

In [ ]:
docker stop smaster sworker1 sworker2